/* 版面設定 */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.4s all linear;  /* 動畫效果 */
    font-size:22px;
    background-color: white;
}

/* Header */

header{
    font-size: 20px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    
}

/* RWD 手機版 */